<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Sales Man</h1>
    </div>
    <div class="login-box signup-box">
      <form class="login-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN UP</h3>
        <div class="form-group">
          <label class="control-label">Full Name</label>
          <input class="form-control" type="text" placeholder="Name" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input class="form-control" [(ngModel)]="user.email" name="email" type="email" placeholder="Email" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input class="form-control" [(ngModel)]="user.password" name="password" type="password" placeholder="Password">
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block" (click)="createUser()"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN UP</button>
        </div>
      </form>
    </div>
  </section>
  